rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // True if the user is signed in or the requested data is 'public'
    function signedInOrPublic() {
      return false;
    }  
    
    match /{document=**} {
      allow read, write: if signedInOrPublic();
    }
    
  }
}